<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Syncfusion.Compression.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.DocIO.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.ExcelChartToImageConverter.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.OfficeChart.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.OfficeChartToImageConverter.Wpf" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Pdf.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Presentation.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.PresentationToPdfConverter.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfCellGrid.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfChart.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfGridCommon.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfRichTextBoxAdv.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfSpreadsheet.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfSpreadsheetHelper.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Shared.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Tools.WPF" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.XlsIO.Base" version="16.2.0.50" targetFramework="net462" />
</packages>